In [74]:
import pandas as pd

In [75]:
import pickle

image_labels = pickle.load(open('data/image_labels.pkl', 'rb'))
len(image_labels)

1600

In [76]:
hand_label = pd.concat([
    pd.read_csv('labels0.csv'), 
    pd.read_csv('labels1.csv'), 
    pd.read_csv('labels2.csv'), 
    pd.read_csv('labels3.csv')
])
hand_label['race'] = hand_label['race'].map(
    {
        'W': 'white',
        'U': 'unknown',
        'B': 'black',
        'A': 'asian',
        'H': 'hispanic',
        'M': 'mideast',
        'I': 'indian',
        'N': 'native american'
    }
)
hand_label['gender'] = hand_label['gender'].map(
    {
        'M': 'male',
        'F': 'female',
        'U': 'unknown'
    }
)

In [83]:
df_label = hand_label[['imageFile', 'race', 'gender']]
df_label.head(5)

     imageFile      race  gender
0   GLAD/2.jpg     white    male
1     SC/3.jpg     white  female
2     SS/6.jpg  hispanic  female
3     BC/5.jpg     white  female
4  HIMYM/3.jpg     white  female

In [85]:
hand_label['race'].value_counts()

white              1196
unknown             138
black               136
asian                60
hispanic             54
mideast               7
indian                7
native american       2
Name: race, dtype: int64

In [86]:
hand_label['gender'].value_counts()

male       988
female     605
unknown      7
Name: gender, dtype: int64

In [90]:
for i, row in hand_label.iterrows():
    
    row_id = row['imageFile'].replace('/', '')
    
    image_labels[row_id]['gender.manual'] = row.gender
    image_labels[row_id]['race.manual'] = row.race

In [95]:
df = pd.DataFrame.from_dict(image_labels, orient='index')
df.to_csv('data/image_labels_manual.csv')

df[['race.manual', 'gender.manual']].head(10)

         race.manual gender.manual
A1.jpg         white          male
A2.jpg         white        female
A3.jpg         white        female
A4.jpg         white          male
A6.jpg         black          male
AD1.jpg        white          male
AD10.jpg       white        female
AD2.jpg        white        female
AD3.jpg        white          male
AD4.jpg        white          male